@media (min-width: 320px) and (max-width: 767px) {
  .navbar {
    padding: 0;
  }
  .waviy {
    font-size: 0.5rem;
  }
  .waviy span {
    font-size: 2.1rem;
    margin: 10px 0;
  }
  .home .content h1 {
    font-size: 1.3rem;
  }
  .home .content h5 {
    font-size: 1rem;
    line-height: 1.6;
  }
  .title {
    font-size: 1.8rem;
  }
  .title::after {
    font-size: 0.8rem;
  }

  /* about */
  .about {
    padding-top: 0px;
  }
  .about .content p {
    font-size: 0.8rem;
    top: 20%;
  }

  /* product-slider */
  .product-slider {
    padding-bottom: 40px;
  }
  .product-slider a {
    font-size: 0.8rem;
    padding: 3px 6px;
  }
  .product-slider .product img {
    height: 170px;
  }
  .product-slider .product a {
    padding: 0 4px;
    font-size: 1rem;
    font-weight: 500;
  }
  .product-slider .product a span {
    margin-right: 4px !important;
    margin-left: 0 !important;
  }

  /* products */

  .products {
    margin-top: 70px;
  }
  .products .row {
    --bs-gutter-x: 0px;
  }
  .products .product {
    padding: 0 0 10px 0;
    margin: 7px 0;
    border-radius: 0;
  }
  .products .product img {
    height: 250px;
    padding: 10px 20px;
  }

  /* review */

  .review .row {
    padding: 10px 0px !important;
    margin: 0;
    flex-direction: column !important;
    height: 100%;
  }
  .review {
    padding: 30px 10px;
  }

  /* Testimonials */

  .testimonial {
    margin-top: 0px;
    padding: 0;
    background-position: center center;
  }
  .testimonial .content {
    border-radius: 0px;
  }
  .testimonial .boxes {
    flex-direction: column;
  }
  .testimonial .boxes .con {
    margin: 10px 0;
  }
  .testimonial .boxes .con h5 {
    font-size: 1rem;
  }
  /* footer */
  footer {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .waviy {
    font-size: 2rem;
  }
  .home .content h5 {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .title::after {
    font-size: 1.2rem;
  }
  .about .content p {
    font-size: 1rem;
  }
  .review .row {
    padding: 20px 0px !important;
    margin: 10px;
    flex-direction: column !important;
    height: 220px !important;
  }
  .review {
    padding: 30px 10px;
  }
  footer address,
  footer p {
    font-size: 1rem;
  }
}
